
 .search-box{
    cursor:pointer;
    text-align: center;
    height: 40px;
} 

.searchButton{
  background-color: rgb(233, 92, 92);
  color: white;
}

.searchButton:hover {
  background-color: rgb(163, 65, 65);
}

.logo {
  position: relative;
  width: 8%;
  height: 5%;
}

.card:hover {
    transform: scale(1.02);
  }

.account {
  margin-left: 25% !important;
}

.cart{
  margin-left: 5%;
  font-size: 40px;
}

.account-form{
  text-align: center;
  }
  
  .payment-icons {
   
    margin-right: 10px;

  }
