.FormGroup {
	margin: 0 auto;
	padding: 0;
	border-style: none;
	background-color: #ffb101;
	will-change: opacity, transform;
	box-shadow: 0 6px 9px rg(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff;
	border-radius: 4px;
	width: 400px;
    align-items: center;
	margin-top: 20px;
}

.FormRow {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 10px;
	border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
	background: transparent ;
}

.StripeElement {
	width: 100%;
	padding: 8px 15px 11px 0;
}

.Checkoutbutton {
	display: block;
	font-size: 16px;
	width: 27%;
	height: 40px;
	margin: 20px auto 0;
	background-color: black;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 black;
	border-radius: 4px;
	color: #ffb101 ;
	font-weight: 300;
	cursor: pointer;
	transition: all 100ms ease-in-out;
	will-change: transform, background-color, box-shadow;
	border: none;
}

button:active {
	background-color: black;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #e298d8;
	transform: scale(0.99);
}

h1,h3 {
	text-align: center;
}

.account-button{
	width: 40%;
}

.sell-name{
	width: 40%;
	margin-left: 30%;
}
.sell-price{
	width: 40%;
	margin-left: 30%;
	margin-top: 20px;
}

.sell-category{
	width: 40%;
	margin-left: 30%;
	margin-top: 20px;
}

.sell-description{
	width: 40%;
	margin-left: 30%;
	margin-top: 20px;
}

.sell-submit{
	width: 20%;
	margin-left: 40%;
	margin-top: 20px;
}

.sell-image{
	width: 40%;
	margin-left: 30%;
	margin-top: 20px;
}
