.categoryboxes{
    width: 100%;
    padding: 60px 0 ;
    background-color: white;
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

img{
    width: 300px;
    height: 300px;
    position: relative;
    
}

