.topbar{
    background-color: blue;
    width: 50px;
    display: inline;
}

 .search-box{
    cursor:pointer;
    text-align: center;

    height: 40px;


} 

.card {
    max-width: 300px; 
    padding: 30px;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #fff, #fff 50%, #ffd700 50%);
    transition: transform .2s;

} 
 
.card:hover {
    transform: scale(1.02);
  }

  .cart{
    margin-right: 15%;
  }
